/*
CTC Separate Stylesheet
Updated: 2020-09-29 15:12:48
Theme Name: Ninja Talent
Theme URI: https://generatepress.com
Template: generatepress
Author: Tom Usborne
Author URI: https://tomusborne.com
Description: GeneratePress is a lightweight WordPress theme built with a focus on speed and usability. Performance is important to us, which is why a fresh GeneratePress install adds less than 15kb (gzipped) to your page size. We take full advantage of the new block editor (Gutenberg), which gives you more control over creating your content. If you use page builders, GeneratePress is the right theme for you. It is completely compatible with all major page builders, including Beaver Builder and Elementor. Thanks to our emphasis on WordPress coding standards, we can boast full compatibility with all well-coded plugins, including WooCommerce. GeneratePress is fully responsive, uses valid HTML/CSS and is translated into over 25 languages by our amazing community of users. A few of our many features include microdata integration, 9 widget areas, 5 navigation locations, 5 sidebar layouts, dropdown menus (click or hover) and navigation color presets. Learn more and check out our powerful premium version at https://generatepress.com
Tags: two-columns,three-columns,one-column,right-sidebar,left-sidebar,footer-widgets,blog,e-commerce,flexible-header,full-width-template,buddypress,custom-header,custom-background,custom-menu,custom-colors,sticky-post,threaded-comments,translation-ready,rtl-language-support,featured-images,theme-options
Version: 2.4.2.1601392368
*/

.header {
    padding: 30px 10px; /* Some padding */
    position: fixed !important; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    z-index: 10;
    opacity: 1;
  }
  
  .header-up {
    padding: 30px 10px; /* Some padding */
    background-color: rgba(255, 255, 255, 0.178);
    position: fixed !important; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    opacity: .7;
  }
  
  #googlemaps {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
    opacity: .8;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: rgb(32, 32, 32); /* IE6-9 */
	  -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
	  -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
  }
  
  #contacto {
    position: relative;
    z-index: 9; /* The z-index should be higher than Google Maps */
    width: 400px;
    margin: -630px 0px 0px 200px;
    padding: 10px;
    background: black;
    height: auto;
    opacity: 1; /* Set the opacity for a slightly transparent Google Form */
    color: white;
  }
  
  .form{
    opacity: 1;
  }
  
  .form input,textarea{
    color: white !important;
    font-weight: bold;
    background-color: #3F3F3F !important; 
  }
  
  .formButton{
    color: white !important;
    font-size: 20px !important;
    border: 2px solid white !important;
    background-color: black !important;
  }